<div class="user-profile-container" *ngIf="user">
  <mat-card>
    <form [formGroup]="userForm" (ngSubmit)="saveChanges()">
      <mat-card-header>
        <div class="img-container" [ngClass]="{'editable': editUser}" >
          <img [src]="user.profileImg | profileImg" [alt]="user.name">
          <mat-icon class="camera-icon" *ngIf="editUser" (click)="changePhoto()">camera_alt</mat-icon>
        </div>
        <mat-card-title>
          <input matInput placeholder="Name" formControlName="name" readonly>
        </mat-card-title>
        <mat-card-subtitle>
          <input matInput placeholder="Email" formControlName="email" readonly>
        </mat-card-subtitle>
      </mat-card-header>
      <span class="spacer"></span>
      <mat-card-content>
        <p><strong>Username:</strong>
          <input matInput placeholder="Username" formControlName="username" [readonly]="!editUser">
        </p>
        <p><strong>Favorite Genres:</strong>
          <input matInput placeholder="Favorite Genres" formControlName="favoriteGenres" [readonly]="!editUser">
        </p>
        <p><strong>Bio:</strong>
          <textarea matInput placeholder="Bio" formControlName="bio" [readonly]="!editUser"></textarea>
        </p>
      </mat-card-content>
      <button mat-button  type="submit" *ngIf="editUser">Guardar</button>
    </form>
    <button mat-button *ngIf="!editUser" (click)="editPerfil()">Editar Perfil</button>
    <span class="spacer"></span>
    <mat-card-actions>
      <button mat-button (click)="move('user/favorites')">Favorite Movies</button>
    </mat-card-actions>
  </mat-card>
</div>
